@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <body> This is my second site</body>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
